<!DOCTYPE html>
<html lang="uk">
  <head>
    {{>partials/meta title="Promisification"}}
  </head>
  <body>
    <button type="button" data-action="start" class="startButton">Start</button>
  <button type="button" data-action="stop" class="stopButton">Stop</button>
  </body>
</html>
